@import 'tailwindcss';

@theme {
  --color-primary: #F2B705;
  --color-primary-light: #F2E399;

  --color-secondary: #034AA6;
  --color-secondary-light: #0568A6;

  --color-surface: #789EBF;

  --color-neutral: #F0EDEF;
}

html {
  @apply text-sm md:text-lg lg:text-xl;
  @apply bg-neutral;
  user-select: none;
}

@layer utilities {
  .btn {
    @apply px-4 py-2 rounded-md text-neutral font-semibold;
  }

  .btn-primary {
    @apply bg-primary hover:bg-primary-light;
  }

  .btn-secondary {
    @apply  bg-secondary-light hover:bg-secondary;
  }

  .infoCard {
    @apply p-4 rounded-lg shadow-md;
    background: linear-gradient(to bottom, var(--color-secondary), var(--color-secondary-light));
  }

  .infoCard h2 {
    @apply text-xl font-bold mb-2;
    color: var(--color-primary);
  }

  .linkCard {
    @apply p-4 rounded-lg shadow-md text-lg font-bold;
    background: linear-gradient(to bottom, var(--color-secondary), var(--color-secondary-light));
  }
}
