@import 'tailwindcss';

@theme {
  --color-primary: #F2B705;
  --color-primary-light: #F2E399;

  --color-secondary: #034AA6;
  --color-secondary-light: #0568A6;

  --color-surface: #789EBF;

  --color-neutral: #F0EDEF;
}

html {
  @apply bg-neutral;
}

.infoCard {
  @apply text-neutral p-4 rounded-lg shadow-md;
  background-color: linear-gradient(to bottom, var(--color-secondary), var(--color-secondary-light));
}

.infoCard h2 {
  @apply text-xl font-bold mb-2;
  color: var(--color-primary);
}

