@import 'tailwindcss';

@theme {
  --color-primary: #F2B705;
  --color-primary-light: #F2E399;

  --color-secondary: #034AA6;
  --color-secondary-light: #0568A6;

  --color-surface: #789EBF;

  --color-neutral: #F0EDEF;
}

html {
  @apply bg-neutral;
}